extends html

snippet let
    @let(${1})

snippet cc
    {{ -- ${1} -- }}

snippet cl
    class="${1}"

snippet button
    <button>${1}</button>

snippet if
    @if(${1})

snippet else
    @else(${1})

snippet elseif
    @elseif(${1})

snippet unless
    @unless(${1})

snippet end
    @end(${1})

snippet each
    @each(${1})

snippet include
    @include(${1})

snippet includeIf
    @includeIf(${1})

snippet debugger
    @debugger(${1})

