snippet main
    package main

    import "fmt"

    func main() {
        fmt.Println("Hello world")
    }

snippet print
    fmt.Print("${1}")

snippet println
    fmt.Println("${1}")

snippet foreach
    for index, element := range someSlice {
        // index is the index where we are
        // element is the element from someSlice for where we are
    }
