snippet l
    console.log(${1});

snippet u
    undefined${1}

snippet try
    try {
      ${1}
    } catch (e) {
        console.error(e)
    }

snippet test
    test('${1}', () => {
      ${2}
    })

snippet describe
    describe('${1}', () => {
      ${2}
    })
